@media (min-width: 777px) {
  .homeContainer {
    background-image: url("../images/background.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homeContainer .header {
    position: relative;
    border-radius: 5px;
    background-color: #FFAD01;
    padding: 30px 40px 20px;
    margin: 0px 165px;
    top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    color: #fff;
    font-size: 16px;
  }
  .homeContainer .header .address {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .homeContainer .header .address .iconDiv {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .homeContainer .header .address .iconDiv .icons {
    font-size: 25px;
    font-weight: 300 !important;
    display: grid;
    align-items: center;
    margin-top: -13px;
  }
  .homeContainer .header .address .details {
    display: grid;
    align-items: center;
    justify-content: start;
  }
  .homeContainer .header .address .details p {
    margin: 0;
    margin-bottom: 7px;
    text-align: left;
  }
  .homeContainer .intoCard {
    display: grid;
    justify-content: center;
  }
  .homeContainer .intoCard .card {
    width: 750px;
    background-color: white;
    height: 400px;
    margin-top: 200px;
  }
  .homeContainer .intoCard .card img {
    border: none;
    border-radius: 400px;
    height: 200px;
    margin-top: -95px;
  }
  .homeContainer .intoCard .card .info .name {
    font-size: 2rem;
    font-weight: 600;
    margin: 15px 0 0 0;
  }
  .homeContainer .intoCard .card .info .post {
    font-size: 1.3em;
    color: #FFA600;
    margin: 0;
  }
  .homeContainer .intoCard .card .otherDetails {
    margin-top: 25px;
  }
  .homeContainer .intoCard .card .otherDetails p {
    margin: 0 0 7px;
  }
  .homeContainer .intoCard .card .otherDetails p .heads {
    margin: 0;
    font-weight: 600;
  }
  .homeContainer .intoCard .card .social {
    font-size: 23px;
  }
  .homeContainer .intoCard .card .social .icons {
    margin: 30px 10px 0 !important;
    cursor: pointer;
  }

  .section1 {
    margin: 200px 165px;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .section1 .heads .border {
    height: 10px;
    background-color: #FFA804;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .section1 .heads .heading p {
    margin: 0;
    text-align: left;
  }
  .section1 .heads .heading .main {
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
  }
  .section1 .heads .heading .desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
  .section1 .details p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #777;
    text-align: left;
  }

  .section2 {
    padding: 100px 165px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #28023D;
    color: #fff;
  }
  .section2 .heads .border {
    height: 10px;
    background-color: #FFA804;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .section2 .heads .heading p {
    margin: 0;
    text-align: left;
  }
  .section2 .heads .heading .main {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
  }
  .section2 .heads .heading .desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
  .section2 .details p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #777;
    text-align: left;
  }

  .section3 {
    padding: 100px 165px;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .section3 .heads .border {
    height: 10px;
    background-color: #FFA804;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .section3 .heads .heading p {
    margin: 0;
    text-align: left;
  }
  .section3 .heads .heading .main {
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
  }
  .section3 .heads .heading .desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
  .section3 .details {
    display: grid;
    justify-content: left;
  }

  .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    background: #f7f7f7;
    border-radius: 2px;
    margin-bottom: 24px;
    border: 0px;
    overflow: hidden;
  }

  .rowOne {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    justify-content: center;
    margin-bottom: 60px;
  }
  .rowOne .services {
    margin: 0 20px;
    color: #777;
  }
  .rowOne .services .icon {
    font-size: 45px;
    color: #FFA600;
  }
  .rowOne .services .head {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .rowOne .services .desc {
    margin: 0 !important;
    font-size: 14px;
    list-style-type: none;
    padding: 0 !important;
  }
}
@media (max-width: 777px) {
  .homeContainer {
    background-image: url("../images/background.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homeContainer .header {
    position: relative;
    border-radius: 5px;
    background-color: #FFAD01;
    padding: 30px 40px 20px;
    margin: 0px 15px;
    top: 30px;
    display: grid;
    color: #fff;
    font-size: 16px;
  }
  .homeContainer .header .address {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 10px;
  }
  .homeContainer .header .address .iconDiv {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .homeContainer .header .address .iconDiv .icons {
    font-size: 25px;
    font-weight: 300 !important;
    display: grid;
    align-items: center;
    margin-top: -13px;
  }
  .homeContainer .header .address .details {
    display: grid;
    align-items: center;
    justify-content: start;
  }
  .homeContainer .header .address .details p {
    margin: 0;
    margin-bottom: 7px;
    text-align: left;
  }
  .homeContainer .intoCard .card {
    margin-top: 150px;
    background-color: white;
    height: 400px;
  }
  .homeContainer .intoCard .card img {
    border: none;
    border-radius: 400px;
    height: 150px;
    margin-top: -80px;
  }
  .homeContainer .intoCard .card .info .name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0 0 0;
  }
  .homeContainer .intoCard .card .info .post {
    font-size: 1.3em;
    color: #FFA600;
    margin: 0;
  }
  .homeContainer .intoCard .card .otherDetails {
    margin-top: 25px;
  }
  .homeContainer .intoCard .card .otherDetails p {
    margin: 0 0 7px;
  }
  .homeContainer .intoCard .card .otherDetails p .heads {
    margin: 0;
    font-weight: 600;
  }
  .homeContainer .intoCard .card .social {
    font-size: 23px;
  }
  .homeContainer .intoCard .card .social .icons {
    margin: 30px 10px 0 !important;
    cursor: pointer;
  }

  .section1 {
    margin: 200px 20px 100px;
    display: grid;
  }
  .section1 .heads .border {
    height: 10px;
    background-color: #FFA804;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .section1 .heads .heading p {
    margin: 0;
    text-align: left;
  }
  .section1 .heads .heading .main {
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
  }
  .section1 .heads .heading .desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
  .section1 .details p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #777;
    text-align: left;
    margin-top: 40px;
  }

  .section2 {
    padding: 100px 20px;
    display: grid;
    background-color: #28023D;
    color: #fff;
  }
  .section2 .heads .border {
    height: 10px;
    background-color: #FFA804;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .section2 .heads .heading p {
    margin: 0;
    text-align: left;
  }
  .section2 .heads .heading .main {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
  }
  .section2 .heads .heading .desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
  .section2 .details p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #777;
    text-align: left;
    margin-top: 40px;
  }

  .section3 {
    padding: 100px 20px 50px;
  }
  .section3 .heads {
    margin-bottom: 50px;
  }
  .section3 .heads .border {
    height: 10px;
    background-color: #FFA804;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .section3 .heads .heading p {
    margin: 0;
    text-align: left;
  }
  .section3 .heads .heading .main {
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
  }
  .section3 .heads .heading .desc {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
  .section3 .details {
    display: grid;
    justify-content: center;
  }

  .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    background: #f7f7f7;
    border-radius: 2px;
    margin-bottom: 24px;
    border: 0px;
    overflow: hidden;
  }

  .rowOne {
    display: grid;
    justify-content: center;
  }
  .rowOne .services {
    margin: 0 20px;
    color: #777;
    margin-bottom: 50px;
  }
  .rowOne .services .icon {
    font-size: 45px;
    color: #FFA600;
  }
  .rowOne .services .head {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .rowOne .services .desc {
    margin: 0 !important;
    font-size: 14px;
    list-style-type: none;
    padding: 0 !important;
  }
}

/*# sourceMappingURL=Home.css.map */
